<div style="display:flex;">
    <div style="width:25%;">
        <a href="<%=data.href1%>" target="_blank"><img style="width:100%;" src="<%=data.src1%>" alt=""></a>
    </div>
    <div style="width:25%;">
        <a href="<%=data.href2%>" target="_blank"><img style="width:100%;" src="<%=data.src2%>" alt=""></a>
    </div>
    <div style="width:25%;">
        <a href="<%=data.href3%>" target="_blank"><img style="width:100%;" src="<%=data.src3%>" alt=""></a>
    </div>
    <div style="width:25%;">
        <a href="<%=data.href4%>" target="_blank"><img style="width:100%;" src="<%=data.src4%>" alt=""></a>
    </div>
</div>
